
	<!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <a href="#miCasa">Mi casa</a> / 
                Persianas                                 
            </h1>                        
        </div>
    </div>
    <!-- /.row --> 
        
    	<table class="table">
		    <thead>
		      <tr>
		        <th>Descripción</th>
		        <th>Acciones</th>		        
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>Persiana grande del salon</td>
		        <td><a href="#detalleDispositivo">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                </td>		        
		      </tr>
		      <tr>
		        <td>Persiana cocina</td>
		        <td><a href="#detalleDispositivo">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a></td>		        
		      </tr>
		      <tr>
		        <td>Persiana dormitorio</td>
		        <td><a href="#detalleDispositivo">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a></td>		        
		      </tr>
		    </tbody>
		</table>
  

